run_tests:
  image: eclipse-temurin:17-jdk-jammy
  before_script:
    - apt-get update
    - apt-get install -y maven
  script:
    - cd RememberThis/remember-this-backend
    - mvn clean package
    - mvn test