run_tests:
    image: 
        - eclipse-temurin:17-jdk-jammy
    before_script:
        - sudo apt-get update && sudo apt-get install maven
    scripts:
        - mvn clean package
        - mvn test