variables:
  BACKEND_IMAGE_NAME: willey599/backend
  BACKEND_IMAGE_TAG: "1.4"
  DATABASE_IMAGE_NAME: "willey599/mysql:1.1"
  DATABASE_HOST: 'rememberthis_db'
  DATABASE_PORT: 3306 
  DATABASE_USER: 'user'
  DATABASE_PASSWORD: '12345'

run_tests:
  image: eclipse-temurin:17-jdk-jammy
  before_script:
    - apt-get update
    - apt-get install -y maven
  services:
    - name: $DATABASE_IMAGE_NAME
      alias: rememberthis_db
  script:
    - cd remember-this-backend
    - mvn clean package
    - mvn test


build_image:
  image: docker:28.4.0-cli-alpine3.22
  # runs daemon
  services:
    - docker:28.4.0-dind
  #helps the daemon and docker cli communicate with each other
  variables:
    DOCKER_TLS_CERTSDIR: "/certs"
  before_script:
    - cd remember-this-backend
    - ls -a
    - docker login -u $DOCKER_USER -p "${DOCKER_PASS}"

  script:
    - docker build -t $BACKEND_IMAGE_NAME:$BACKEND_IMAGE_TAG .
    - docker push $BACKEND_IMAGE_NAME:$BACKEND_IMAGE_TAG
    