server:
  port: 8080

spring:
  datasource: 
    url: jdbc:mysql://mysql:3306/rememberthis_db
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
  application:
    name: remember-this    

  config:
    import: optional:file:.env[.properties]

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            scope: openid
            client-secret: ${GOOGLE_CLIENT_SECRET}
        provider:
          google:
              authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
              token-uri: https://oauth2.googleapis.com/token
              user-info-uri: https://openidconnect.googleapis.com/v1/userinfo
              user-name-attribute: sub

logging:
  level:
    org:
      springframework:
        security: TRACE