spring:
  datasource:
    url: jdbc:mysql://mysql:3306/rememberthis_db
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}
  security:
    oauth2:
      client:
        registration:
          google:
            client-secret: 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