/*parent*/
.cloud {
    text-align: center;
    margin-top: 20px;
}
/* child */
.cloud img {
    display: flex;
    margin: 0 auto;
    border-radius: 10px;
    width: 100px;
}
.cloud-menu {
    background-color: red;
    flex-direction: column;
    display: inline-flex;
    min-width: auto;
    box-shadow: false;
    
}