.dialog {
    width: auto;
    text-align: left;
}

.dialog h1 {
    width: auto;
    text-align: center;
    font-size: 32px;
    color: white;
    background-color: #58aafd;
}

.dialog h2 {
    text-align: center;
    width: auto;
}

.dialog button {
    border-radius: 15%;
    border-style: solid;
    border-color: #58aafd;
    background-color: #58aafd;
}