<h1>
  <button (click)="googleLogout()">Logout</button>
  <app-create-button></app-create-button>  
  
</h1>
<h2>
  <!-- If value changes, continue -->
  <ul *ngIf="serviceCloudDataArray().length > 0">
    <h1 *ngFor="let cloudData of serviceCloudDataArray()">
        <app-cloud 
            [nodeId]="cloudData.nodeId"
            [nodeText]="cloudData.nodeText"
            [xPosition]="cloudData.xPosition"
            [yPosition]="cloudData.yPosition">
        </app-cloud>
    </h1>
  </ul>
</h2>